{erl_opts, [{src_dirs, ["src"]},
            debug_info]}.
{cover_enabled, true}.
{template_vars, [{license, ""}]}.
{deps_dir, ["deps"]}.
{deps, [
        { rebar_elixir_plugin, ".*",
          {git, "git://github.com/quarkgames/rebar_elixir_plugin"}},
        { elixir, "0.12.*",
         {git, "git://github.com/elixir-lang/elixir"}}
       ]}.

%% elixir specific
{plugins, [rebar_elixir_compiler, rebar_exunit] }.
{lib_dirs, [
            "deps/elixir/lib"
           ]}.
{ex_opts, [{src_dirs, ["lib"]},
           {debug_info, true}]}.

%% workaround for rebar elixir plugin issue
{validate_app_modules, false}.
